* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.custom-section {
  background-color: #e0dede;
  width: 100%;
  height: 100vh;
}

body,
.expense-section {
  background-color: #e0dede;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(109, 109, 109);
}

p {
  font-size: 20px;
}

.home-menu {
  color: #fff;
}

.Welcome,
.new-category-heading,
.expense-heading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 40px;
}

.authentication-pages,
.category-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.field {
  margin: 20px;
}

.input {
  width: 300px;
  height: 25px;
}

.label {
  margin-right: 5px;
}

.expense-form {
  height: 30px;
}

.icon {
  margin-right: 12px;
}

.custom-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3778c2;
  height: 11rem;
  color: #fff;
  padding: 35px;
}

.left-arrow {
  color: #fff;
  margin-left: 10px;
}

.custom-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
}

.custom-nav-bottom {
  display: flex;
  margin-top: 40px;
  margin-left: 550px;
  gap: 60px;
}

.ancient {
  opacity: 0.5;
}

.custom-nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 6px;
  margin-left: 15px;
  font-size: 17px;
}

.custom-nav-link:hover {
  border-bottom: 1px solid #fff;
}

.custom-popup {
  position: absolute;
  top: 92px;
  left: 10px;
  background-color: #3778c2;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.custom-popup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-popup li {
  margin-bottom: 10px;
}

.custom-popup-toggle {
  display: inline-block;
  padding: 5px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  text-decoration: none;
}

.hamburger {
  margin-left: 20px;
}

.search {
  margin-right: 20px;
}

.custom-popup-close {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.custom-popup.hidden {
  display: none;
}

.custom-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.custom-absolute-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
  margin-bottom: 5px;
}

.auth-button {
  width: 21rem;
  height: 4rem;
  border: none;
  border-radius: 5px;
}

.login-btn {
  background-color: #3778c2;
  color: #e0dede;
}

.login-btn:hover {
  background-color: #2361a8;
}

.signup:hover {
  background-color: #dad7d7;
}

.custom-link,
.expense-item {
  width: 80%;
  height: 70px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  gap: 15px;
}

.custom-link:hover {
  transform: scale(1.02);
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  background-color: #5fb523;
  margin-top: 50%;
}

.create-cat-div {
  margin-left: 55px;
  margin-top: 50px;
}

.create-exp-div {
  margin-top: 50px;
  padding: 10px;
}

.custom-button {
  display: block;
  width: 90%;
  padding: 20px;
  text-align: center;
  background-color: #5fb523;
  text-decoration: none;
  margin: 30px auto;
  font-size: 16px;
  color: #edebeb;
  border: 1px solid #edebeb;
}

.button-expence {
  display: block;
  width: 100%;
  padding: 13px;
  text-align: center;
  background-color: #5fb523;
  color: #fff;
  text-decoration: none;
  margin: 30px auto;
  font-size: 16px;
  border: 1px solid #edebeb;
}

.custom-button:hover,
.button-expence:hover {
  background-color: #40850f;
}

.custom-header {
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  font-size: 20px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 760px) {
  h2 {
    font-size: 30px;
  }

  .hamburger {
    margin-left: 0;
  }

  .search {
    margin-right: 0;
  }

  .custom-nav {
    height: 9rem;
  }

  .custom-nav-bottom {
    margin-left: 130px;
    gap: 5px;
  }

  .custom-nav-link {
    margin-left: 15px;
    font-size: 14px;
  }

  .custom-button {
    display: block;
    width: 90%;
    padding: 13px;
  }

  .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #5fb523;
  }
}
